@import "tailwindcss";

/* Theme variables */
:root {
  --background: #000000;
  --foreground: #171717;
}

/* Dark mode variables */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Let the app use these variables WITHOUT overriding Tailwind */
html, body {
  background-color: var(--background);
  color: var(--foreground);
}